/*Estilos Generales*/
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-oscura{
    background-color: #1b1b32;
    color: white;
}
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-texto{
    font-size: 1.2rem;
}
.seccion-clara{
    color: black;
    background-color: white;
}
/*Barra de navegacion*/
.navbar{
    padding: 1rem;
    background-color: darkgray;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
/*Seccion Hero*/
.hero{
    background-color: white;
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 3rem;
}
.foto{
    width: 200px;
    height: 200px;
    transition: 1s all;
    margin: 20px;
    cursor: pointer;
}
.foto:hover{
    transform: scale(1.1);
}
.hero-principal h2{
    font-size: 1.3rem;
    color: #615151;
}
.hero-inferior{
    display: flex;
    justify-content: center;
    align-items: end;
}
/*Seccion Sobre Mi*/
.sobre-mi{
    height: 500px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
/*Seccion Experiencia*/
.experiencia{
    padding: 3rem 3rem 4rem 3rem;
}
.experiencia .row div{
    
}
.experiencia-titulo{
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor{
    font-size: 20px;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}
.experiencia i {
    font-size: 2.5rem;
    color: beige;
    background-color: black;
    padding: 8px 19px;
    border-radius: 50%;
}
.experiencia .columna{
    height: 26rem;
    border: 2px solid #615151;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-out;
}
.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}
.experiencia .row{
    display: flex;
    align-items: flex-start;
}
.row p{
    max-width: 600px;
}


/*Adaptable (Responsivo)*/
@media screen and (max-width:767px) {
    .navbar-brand{
        display: none;
    }
    .imagen-monitor{
        max-width: 100%;
    }
    .seccion-texto{
        font-size: 1rem;
    }
    .badge-contenedor{
        font-size: 25px;
        font-weight: bold;
        margin:  0;
    }
    .badge{
        font-size: .7rem;
        margin: 0;
    }
    .columna{
        border:0;
    }
}
@media screen and (min-width:700px) {
    .imagen-monitor{
    max-width: 600px;
    align-items: center;
    }
    
}
