/*Estilos Generales*/
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-oscura{
    background-color: #1b1b32;
    color: white;
}
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-texto{
    font-size: 1.2rem;
}
.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}
.seccion-clara{
    color: black;
    background-color: white;
}
.texto-negro{
    color: black;
}
.texto-blanco{
    color: white;
}
.btn{
    font-size: 1.1rem;
    margin: 20px;
    
}
/*Barra de navegacion*/
.navbar{
    padding: 1rem;
    background-color: darkgray;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
/*Seccion Hero*/
.hero{
    background-color: white;
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 3rem;
}
.foto{
    width: 15rem;
    height: 15rem;
    transition: 1s all;
    margin: 20px;
    cursor: pointer;
}
.foto:hover{
    transform: scale(1.1);
}
.hero-principal h2{
    font-size: 1.3rem;
    color: #615151;
}
.hero-inferior{
    display: flex;
    justify-content: center;
    align-items: end;
}
/*Seccion Sobre Mi*/
.sobre-mi{
    height: 500px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
/*Seccion Experiencia*/
.experiencia{
    padding: 3rem 3rem 4rem 3rem;
}
.experiencia .row div{
    
}
.experiencia-titulo{
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor{
    font-size: 20px;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}
.experiencia i {
    font-size: 2.5rem;
    color: beige;
    background-color: black;
    padding: 8px 19px;
    border-radius: 50%;
}
.experiencia .columna{
    height: 30rem;
    border: 2px solid #615151;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-out;
}
.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}
.experiencia .row{
    display: flex;
    align-items: flex-start;
}
.row p{
    max-width: 600px;
}
/*Proyectos*/
.proyectos-recientes{
    padding: 2.5rem;
}
.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    display: block;

    transition: all .3s ease;
}
.proyectos-contenedor{
    padding-top: 5rem;
    margin-bottom: 5rem;
    

}
.proyectos-contenedor .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay{
    transition: all .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto{
    position: relative;
}
.proyecto:hover img{
    
    opacity: 0.1;
}
.proyecto:hover .overlay{
    opacity: 2;
}
.overlay .iconos-contenedor{
    display: flex;
}
.overlay i{
    color: black;
    font-size: 2.5rem;
    margin: 1rem;
}
/*Testimonios*/
.testimonios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 2.5rem 10rem 2.5rem;
}
.testimonios .carousel{
    max-width: 50rem;
    max-height: 40rem;
}
.carousel-item{
    height: 500px;
}
.container .testimonio{
    width: 1rem;
}
.carousel-item .container{
    width: 100%;
    height: 100%;
}
.testimonio-imagen{
    height: 10rem;
    width: 10rem;
    margin: 1.5rem;
    
}
.testimonio-texto{
    max-width: 70%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: 'Share Tech Mono', monospace;
}
.testimonio-info{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    
}
.testimonio-info .cliente{
    font-size: 1.2rem;
}
.testimonio-info .cargo{
    font-size: .9rem;
    color: #584e4e;
}
/*Adaptable (Responsivo)*/
/*Seccion Testimonios*/
@media screen and (max-width:800px){
    .seccion-titulo{
        font-size: 3rem;
    }
    .seccion-descripcion{
        font-size: 1.rem;
    }
    .testimonio-imagen{
        width: 5rem;
        height: 5rem;
    }
    .testimonio-texto{
        font-size: 1rem;
        text-align: center;
    }
    .testimonios{
        padding: 1.5rem;
        padding-bottom: 3rem;
    }
    .carousel-item{
        height: 400px;
    }
    .proyectos-recientes{
        padding: 1.5rem;
    }
}
@media screen and (max-width:570px){
    .seccion-titulo{
        font-size: 1.5rem;
    }
    .seccion-descripcion{
        font-size: 1rem;
    }
    .testimonio-imagen{
        width: 5rem;
        height: 5rem;
    }
    .testimonio-texto{
        font-size: .9rem;
        text-align: center;
    }
    .testimonios{
        padding: .5rem;
        padding-bottom: 3rem;
    }
    .carousel-item{
        height: 390px;
    }
    .proyectos-contenedor{
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    .hero{
        min-height: 300px;
    }
    .foto{
        width: 10rem;
        height: 10rem;
    }
    .hero-principal h1{
        font-size: 1.8rem;
    }
    .hero-principal h2{
        font-size: 1.3rem;
    }
    .hero-principal{
        padding: 2rem;
    }
    .sobre-mi{
        padding: 1.5rem;
    }
}
@media screen and (max-width:450px){
    .seccion-titulo{
        font-size: 1.6rem;
    }
    .seccion-descripcion{
        font-size: .68rem;
    }
    .testimonio-imagen{
        width: 4rem;
        height: 4rem;
    }
    .testimonio-texto{
        font-size: .65rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .testimonios{
        padding: .3rem;
        padding-bottom: 3rem;
    }
    .testimonio-info .cliente{
        font-size: .8rem;
    }
    .testimonio-info .cargo{
        font-size: .6rem;
        color: #584e4e;
    }
    .carousel-item{
        height: 400px;
    }
    .proyectos-contenedor{
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
    .hero{
        min-height: 350px;
    }
    .foto{
        width: 8rem;
        height: 8rem;
    }
    .hero-principal h1{
        font-size: 1.8rem;
    }
    .hero-principal h1{
        font-size: 1.6rem;
        
    }
    .hero-principal h2{
        font-size: 1.2rem;
    }
}

/*Seccion Testimonios*/

@media screen and (max-width:400px){
    .overlay p {
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
    .proyectos-recientes{
        padding: 1rem;
    }
    .experiencia{
        padding: 1.5rem;
        padding-bottom: 3rem;
    }
}
@media screen and (max-width:1250px){
    .proyecto img{
        opacity: .1;
    }
    .proyecto .overlay, .overlay i{
        opacity: 3;
        color: black;
    }
}
@media screen and (max-width:767px) {
    .navbar-brand{
        display: none;
    }
    .imagen-monitor{
        max-width: 100%;
    }
    .seccion-texto{
        font-size: 1rem;
    }
    .badge-contenedor{
        font-size: 25px;
        font-weight: bold;
        margin:  0;
    }
    .badge{
        font-size: .7rem;
        margin: 0;
    }
    .columna{
        border:0;
    }
    
}
@media screen and (min-width:700px) {
    .imagen-monitor{
    max-width: 600px;
    align-items: center;
    }
    
}

